.contenedor.formulario.registrar.col-md-2>form>input {
    width: 100%;
    margin-bottom: 1%;
}
.elemento.centro>input {
    width: 13%;
    text-align: center;
    color: black;
}
.elemento.derecho.final.total{
    padding-top: 1%;
}
.elemento.derecho.final{
    padding-top: 1%;
}

.nav-bar.col-md-12 {
    width:100%;
    padding-top: 3%;
    border-bottom: 4px solid rgba(255,255,255,.25);
}


.tabla.carrito{
    background: black;
    text-align: center;
    padding-bottom: 1%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    opacity: 0.85;
    color: white;
}
span.col-md-8 {
    background: black;
    color: white;
    opacity: 0.85;
    padding-bottom: 2%;
    text-align: center;
    margin-top:1%;
}

.botones.paginacion.col-md-12 {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 2%;
}


.letras.formulario>input {
    width: 70%;
}
.letras.formulario{
    text-align: center;
    padding-bottom: 3%;
    opacity: 0.85;
}
.letras.formulario{
    background: black;
}
.letras.formulario>label {
    margin-top: 10%;
    color: white;
}
.login.formulario.boton.ingresar{
    margin-top: 10%;
    width:50%;
}
.login.boton.registrar{
    margin-top: 10%;
    width:50%
}
.panel.botones{
    background: black;
    text-align: center;
    padding-bottom: 10%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    opacity: 0.85;    
}
body{
    background-image: url(../resources/imagenes/cuerpo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
a.btn-sm.btn-danger {
    text-decoration: none;
}
body.col-md-12 {
    padding: 0%;
}
.contenedor.formulario.registrar{
    text-align: center;
}
h1.login.titulo {
    padding-top: 10%;
}
.titulo{
    text-align: center;
    margin-bottom: 3%;
    color:white;
    background: black;
}
.btn-registrar{
    margin-top: 10%;
}

.contenedorbarra {
    background: rgb(23, 22, 22);
    height: auto;
}

.contenedorbarra.col-md-12>ul>li>a {
    color: white;
    text-decoration: none;
}
.contenedorbarra.col-md-12>a {
    color: wheat;
    text-decoration: none;
}

.tablaProd {
    background: white;
    margin-top: 1%;
}

.tablaTProd {
    background: #171616;
    color: white;
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.col-md-12 {
    padding: 0%;
}

.producto.detalle {
    margin-top: 2%;
    margin-bottom: 2%;
}

.btn.agregar {
    background: rgba(210,255,82,1);
    background: -moz-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 41%, rgba(107,194,25,1) 59%, rgba(145,232,66,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(210,255,82,1)), color-stop(41%, rgba(145,232,66,1)), color-stop(59%, rgba(107,194,25,1)), color-stop(100%, rgba(145,232,66,1)));
    background: -webkit-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 41%, rgba(107,194,25,1) 59%, rgba(145,232,66,1) 100%);
    background: -o-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 41%, rgba(107,194,25,1) 59%, rgba(145,232,66,1) 100%);
    background: -ms-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 41%, rgba(107,194,25,1) 59%, rgba(145,232,66,1) 100%);
    background: linear-gradient(to bottom, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 41%, rgba(107,194,25,1) 59%, rgba(145,232,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=0 );
    padding-top: 0%;
    text-align: center;
    width: 70%;
    font-size: 11px;
    color: white;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    margin-bottom: 5%;
}
.producto.detalle.texto {
    text-align: center;
}
.boton.cerrar.sesion{
    background: black;
    color: white;
    border: none;
    margin-top: 1%;
    font-weight: bold;
}

.btn-volver {
  display: inline-block;
    padding: 0% 6% 1% 20%;
    margin-bottom: 0%;
    font-size: 14px;
    font-weight: bolder;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-bottom-left-radius: 96px;
    color: #333;
    background-color: #fcf8e3;
    border-color: #ccc;
}

.btn-comprar{
    display: inline-block;
    padding: 0% 6% 1% 17%;
    margin-bottom: 0%;
    font-size: 14px;
    font-weight: bolder;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-bottom-right-radius: 96px;
    color: #fcf8e3;
    background-color: rgba(145,232,66,1);
    border-color: #3c763d;
}